.App {
  text-align: center;
}
.guarantee-cont {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.guarantee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.para {
  max-width:30%;
  text-align: left;
}

.img {

 padding:5px;
  margin:10px;
}

.title {
  margin:5px;
  padding:5px;
}

.counter {
  border:2px solid black;
  margin:30px;
  font-size: large;
}